<h1>A wild <%= @player_1 %> and <%= @player_2 %> appeared!</h1>
<h2><%= @player_1 %>: 10HP </h2>
<h2><%= @player_2 %>: 10HP </h2>

<form action="attack">
  <input type="submit" value="Attack">
</form>
